<p>This is a page for a force directed graph, plotted with D3.</p>
<!--<p>{{testval}}</p>-->
<!--<p>{{nodes}}</p>-->
<!--<p>{{links}}</p>-->
<!--<p>{{networks[0].url}}</p>-->
<!--<p>{{forceDirectedGraph}}</p>-->
<!--New json file: <input type="url" ng-model="forceDirectedGraph.jsonFile"/>-->
<button ng-click="forceDirectedGraph.checkThing()">Click this</button>
<button ng-click="forceDirectedGraph.loadNetwork()">Click here to see if you have a network</button>
<button ng-click="forceDirectedGraph.updateStuff()">Let's see if this does something</button>
<!--<div ng-model="forceDirectedGraph.graph">Hello there I have "graph" as ng-model...</div>-->
<network-upload files="networkUpload.networkFileSrc"></network-upload>
<br>
<br>
