<p>This is a page for a force directed graph, plotted with D3.</p>
<!--<div ng-model="forceDirectedGraph.graph">Hello there I have "graph" as ng-model...</div>-->
<network-upload files="networkUpload.networkFileSrc"></network-upload>
<br>
<br>

<div>
  <span>Select File: </span>
  <select ng-model="forceDirectedGraph.selectedNetFile" ng-options="net.name for net in forceDirectedGraph.networks" ng-placeholder="Choose Network File">
    <option value="">Choose Network File</option>
  </select>
</div>
<div>
  <span>Select Network: </span>
  <select ng-model="forceDirectedGraph.selectedGraph" ng-options="graph.getLabel() for graph in forceDirectedGraph.allGraphs" ng-placeholer="Select Network">
    <option value="">Select Network</option>
  </select>
</div>
<div>Search For Node (input gene name or ID):
  <input type="text" ng-model="geneSearch" placeholder="Search For Gene Here" ng-keypress="($event.charCode===13)?forceDirectedGraph.setSearchedGene(geneSearch) : return;"/>
</div>
