<div layout="column">
    <div>
        <div ngf-drop
             ngf-select
             ngf-change="networkUpload.addNetwork($files)"
             ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
             class="drop-box"
             ngf-multiple="false"
             ngf-allow-dir="false"
             ngf-accept="'json/*'"
             ngf-drop-available="true">
            <div>Click here to select network file</div>
            <div>
                <strong>OR</strong>
            </div>
            <div>You can also drop file to here</div>
        </div>
    </div>
</div>